@font-face {
  font-family: "play";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/play-regular.woff2") format("woff2");
}
@font-face {
  font-family: "play";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/play-bold.woff2") format("woff2");
}
@font-face {
  font-family: "inter";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/inter-semibold.woff2") format("woff2");
}
@font-face {
  font-family: "inter";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/inter-medium.woff2") format("woff2");
}
@font-face {
  font-family: "inter";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/inter-regular.woff2") format("woff2");
}
:root {
  --tablet: 1024px;
  --mobile: 620px;
  --container-padding-desktop: 20px;
  --container-padding-tablet: 30px;
  --container-padding-mobile: 20px;
  --font-primary: "inter", sans-serif;
  --font-secondary: "play", sans-serif;
  --light-color: 255 255 255;
  --dark-color: 20 20 20;
  --gray-color-100: 242 242 242;
  --gray-color-200: 214 214 214;
  --gray-color-300: 127 127 127;
  --gray-color-400: 51 50 54;
  --accent-color-100: 152 73 173;
  --accent-color-200: 135 29 161;
  --accent-color-300: 109 14 132;
  --accent-color-400: 45 18 67;
  --accent-color-500: 43 48 158;
  --accent-color-600: 44 44 145;
  --error-color-100: 181 23 23;
  --error-color-200: 235 0 0;
  --t-duration: 200ms;
  --t-timing-function: ease;
  --header-height: 72px;
  --menu-mobile-width: 289px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background: rgb(var(--dark-color));
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--accent-color-200));
}

* {
  scrollbar-color: rgb(var(--accent-color-200)) rgb(var(--dark-color));
}

html {
  scroll-behavior: smooth;
}

main {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nobr {
  white-space: nowrap;
}

.body {
  min-width: 360px;
  padding: 0;
  margin: 0;
}
.body--dark {
  background: rgb(var(--dark-color));
}
.body--light {
  background: rgb(var(--light-color));
}
.body--no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 var(--container-padding-desktop);
}

@media (max-width: 1024px) {
  .container {
    padding: 0 var(--container-padding-tablet);
  }
}
@media (max-width: 620px) {
  .container {
    padding: 0 var(--container-padding-mobile);
  }
}
.title {
  position: relative;
  margin: 0;
  font-family: var(--font-secondary);
  font-weight: 700;
  color: rgb(var(--light-color));
}
.title--h1 {
  font-size: 64px;
  line-height: 1.3;
  letter-spacing: 2.6px;
}
.title--h2 {
  font-size: 32px;
  letter-spacing: 1.3px;
}
.title--h3 {
  font-size: 24px;
  letter-spacing: 1px;
}

.title__link {
  position: absolute;
  top: calc(var(--header-height) * -1.5);
  left: 0;
}

@media (max-width: 1024px) {
  .title--h1 {
    font-size: 48px;
    letter-spacing: 1.9px;
  }
}
@media (max-width: 620px) {
  .title--h1 {
    font-size: 32px;
    line-height: 1.34;
    letter-spacing: 1.3px;
  }
  .title--h2 {
    font-size: 24px;
    letter-spacing: 1px;
  }
  .title--h3 {
    font-size: 20px;
    letter-spacing: 0.8px;
  }
}
.logo {
  display: block;
  width: 184px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.logo img {
  display: block;
  width: 100%;
}

@media (max-width: 620px) {
  .logo {
    width: 158px;
  }
}
.main-text {
  margin: 0;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.38;
  font-weight: 400;
  color: rgb(var(--light-color));
}

@media (max-width: 1024px) {
  .main-text {
    font-size: 14px;
    line-height: 1.42;
  }
}
.button {
  display: inline-block;
  padding: 16px 32px;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  text-align: center;
  color: rgb(var(--accent-color-200));
  text-decoration: none;
  background: rgb(var(--light-color));
  border: none;
  border-radius: 8px;
  transition: var(--t-timing-function) var(--t-duration);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.button--small {
  padding: 12px 24px;
}
.button--accent {
  color: rgb(var(--light-color));
  background: rgb(var(--accent-color-200));
}
.button--transparent {
  color: rgb(var(--light-color));
  background: none;
  box-shadow: inset 0 0 0 2px rgb(var(--light-color));
}

@media (hover: hover) {
  .button:hover {
    color: rgb(var(--light-color));
    background: rgb(var(--accent-color-100));
  }
  .button--transparent:hover {
    color: rgb(var(--accent-color-200));
    background: rgb(var(--light-color));
  }
}
.button:active {
  color: rgb(var(--light-color));
  background: rgb(var(--accent-color-300));
}

.button--transparent:active {
  box-shadow: none;
}

.social {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: rgb(var(--light-color));
  background: rgb(var(--light-color)/15%);
  border-radius: 8px;
  overflow: hidden;
  transition: var(--t-timing-function) var(--t-duration);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.social__link svg path {
  fill: currentcolor;
}

@media (hover: hover) {
  .social__link:hover {
    background: rgb(var(--light-color)/20%);
  }
}
.social__link:active {
  background: rgb(var(--light-color)/50%);
}

.social--transparent .social__link {
  background: none;
}

@media (hover: hover) {
  .social--transparent .social__link:hover {
    color: rgb(var(--accent-color-200));
  }
}
.social--transparent .social__link:active {
  color: rgb(var(--accent-color-200));
}

.modal-close {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0;
  background: rgb(var(--light-color)/15%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: var(--t-timing-function) var(--t-duration);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.modal-close::before, .modal-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 28px;
  height: 2px;
  background: rgb(var(--light-color));
  border-radius: 5px;
  translate: -50% -50%;
}
.modal-close::before {
  rotate: 45deg;
}
.modal-close::after {
  rotate: -45deg;
}

@media (hover: hover) {
  .modal-close:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}
.form-field {
  position: relative;
  margin: 0;
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
}
.form-field label {
  display: block;
  padding: 0 0 8px;
}
.form-field input,
.form-field textarea {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 8px;
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  background: transparent;
  outline: none;
  transition: var(--t-timing-function) var(--t-duration);
}
.form-field textarea {
  height: 98px;
  padding: 8px;
  resize: none;
  overflow: hidden;
}

.form-field--light {
  color: rgb(var(--light-color));
}
.form-field--light input,
.form-field--light textarea {
  color: rgb(var(--light-color));
  border: 2px solid rgb(var(--light-color));
}
.form-field--light input::-moz-placeholder, .form-field--light textarea::-moz-placeholder {
  color: rgb(var(--light-color)/50%);
}
.form-field--light input::placeholder,
.form-field--light textarea::placeholder {
  color: rgb(var(--light-color)/50%);
}

.form-field--dark {
  color: rgb(var(--gray-color-400));
}
.form-field--dark input,
.form-field--dark textarea {
  color: rgb(var(--gray-color-400));
  background: rgb(var(--light-color));
  border: 2px solid rgb(var(--gray-color-200));
}
.form-field--dark::-moz-placeholder {
  color: rgb(var(--gray-color-200));
}
.form-field--dark::placeholder {
  color: rgb(var(--gray-color-200));
}

@media (hover: hover) {
  .form-field--dark input:hover,
  .form-field--dark textarea:hover {
    border: 2px solid rgb(var(--gray-color-300));
  }
}
.form-field--dark input:focus,
.form-field--dark textarea:focus {
  border: 2px solid rgb(var(--accent-color-100));
}

.form-checkbox {
  position: relative;
  margin: 0;
  font-family: var(--font-primary);
  font-weight: 400;
  color: rgb(var(--light-color));
}
.form-checkbox label {
  display: flex;
  align-items: center;
}
.form-checkbox a {
  text-underline-offset: 4px;
}

.form-checkbox__fakebox {
  position: relative;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  transition: var(--t-timing-function) var(--t-duration);
  cursor: pointer;
}
.form-checkbox__fakebox::before, .form-checkbox__fakebox::after {
  content: "";
  position: absolute;
  height: 3px;
  background: transition;
  border-radius: 5px;
  transition: var(--t-timing-function) var(--t-duration);
}
.form-checkbox__fakebox::before {
  top: 43%;
  left: 28%;
  width: 12px;
  rotate: -45deg;
}
.form-checkbox__fakebox::after {
  top: 48%;
  left: 7%;
  width: 8px;
  rotate: 45deg;
}

.form-checkbox--light {
  font-size: 14px;
  color: rgb(var(--light-color));
}
.form-checkbox--light a {
  color: rgb(var(--light-color));
}
.form-checkbox--light label {
  gap: 8px;
}
.form-checkbox--light .form-checkbox__fakebox {
  background: rgb(var(--accent-color-200));
  border: 2px solid rgb(var(--light-color));
}
.form-checkbox--light input:checked + span {
  background: rgb(var(--light-color));
}
.form-checkbox--light input:checked + span::before, .form-checkbox--light input:checked + span::after {
  background: rgb(var(--accent-color-200));
}

.form-checkbox--dark {
  font-size: 12px;
  color: rgb(var(--dark-color));
}
.form-checkbox--dark a {
  color: rgb(var(--accent-color-200));
}
.form-checkbox--dark label {
  gap: 12px;
}
.form-checkbox--dark .form-checkbox__fakebox {
  background: rgb(var(--light-color));
  border: 2px solid rgb(var(--gray-color-200));
}
.form-checkbox--dark input:checked + span {
  background: rgb(var(--accent-color-200));
  border: 2px solid rgb(var(--accent-color-200));
}
.form-checkbox--dark input:checked + span::before, .form-checkbox--dark input:checked + span::after {
  background: rgb(var(--light-color));
}

@media (hover: hover) {
  .form-checkbox--dark:hover .form-checkbox__fakebox {
    border: 2px solid rgb(var(--gray-color-300));
  }
  .form-checkbox--dark:hover input:checked + span {
    background: rgb(var(--accent-color-100));
    border: 2px solid rgb(var(--accent-color-100));
  }
}
@media (max-width: 620px) {
  .form-checkbox label {
    gap: 12px;
  }
  .form-checkbox .text-help {
    bottom: -22px;
  }
}
.back-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  color: rgb(var(--dark-color));
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.back-btn__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background: rgb(var(--accent-color-200));
  border-radius: 50%;
  transition: var(--t-timing-function) var(--t-duration);
}

@media (hover: hover) {
  .back-btn:hover .back-btn__arrow {
    background: rgb(var(--accent-color-100));
  }
  .back-btn:active .back-btn__arrow {
    background: rgb(var(--accent-color-300));
  }
}
@media (max-width: 620px) {
  .back-btn {
    font-size: 12px;
  }
  .back-btn__arrow {
    width: 25px;
    height: 25px;
  }
  .back-btn__arrow img {
    scale: 0.7;
  }
}
.header {
  position: sticky;
  z-index: 200;
  top: 0;
  left: 0;
  height: var(--header-height);
  margin: calc(var(--header-height) * -1) 0 0;
  font-family: var(--font-primary);
  color: rgb(var(--light-color));
  background: rgb(var(--dark-color)/80%);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__logo {
  flex-shrink: 0;
}

.header__menu {
  flex-grow: 1;
}

.header__menu-inner {
  display: flex;
  align-items: center;
  gap: 8.3%;
}

.header__navigation {
  flex-grow: 1;
}

.header__navigation-links {
  display: flex;
  justify-content: center;
  gap: 51px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__navigation-link {
  font-size: 16px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  transition: var(--t-timing-function) var(--t-duration);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (hover: hover) {
  .header__navigation-link:hover {
    color: rgb(var(--accent-color-100));
  }
}
.header__navigation-link:active {
  color: rgb(var(--accent-color-300));
}

.header__social {
  display: none;
}

.header__get-study {
  display: none;
}

.header__ask-question {
  display: none;
  font-size: 16px;
  font-weight: 700;
}
.header__ask-question p {
  margin: 0;
}
.header__ask-question button {
  padding: 0;
  font-family: var(--font-primary);
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background: none;
  border: none;
  transition: var(--t-timing-function) var(--t-duration);
}

.header__burger {
  position: relative;
  display: none;
  width: 40px;
  height: 40px;
  padding: 0;
  background: transparent;
  border: none;
}

.header__burger-t-el,
.header__burger-b-el,
.header__burger-c-el {
  position: absolute;
  height: 2px;
  background: rgb(var(--light-color));
  border-radius: 5px;
  animation-duration: var(--t-duration);
  animation-timing-function: var(--t-timing-function);
  animation-fill-mode: forwards;
}

.header__burger-t-el,
.header__burger-b-el {
  left: 50%;
  width: 34px;
  translate: -50% 0%;
}

.header__burger-t-el {
  top: 20%;
}

.header__burger-b-el {
  bottom: 20%;
}

.header__burger-c-el {
  top: 50%;
  right: 2.5px;
  width: 28px;
  translate: 0 -50%;
}

.header__burger--cross .header__burger-t-el {
  animation-name: t-to-cross;
}
.header__burger--cross .header__burger-b-el {
  animation-name: b-to-cross;
}
.header__burger--cross .header__burger-c-el {
  animation-name: c-to-cross;
}

.header__burger--lines .header__burger-t-el,
.header__burger--lines .header__burger-b-el,
.header__burger--lines .header__burger-c-el {
  animation-direction: reverse;
}
.header__burger--lines .header__burger-t-el {
  animation-name: t-to-lines;
}
.header__burger--lines .header__burger-b-el {
  animation-name: b-to-lines;
}
.header__burger--lines .header__burger-c-el {
  animation-name: c-to-lines;
}

.header__overlay {
  content: "";
  position: absolute;
  z-index: -100;
  top: var(--header-height);
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: rgb(var(--dark-color)/80%);
  transition: var(--t-timing-function) var(--t-duration);
}
.header__overlay--none {
  display: none;
}
.header__overlay--transparent {
  opacity: 0;
}

@media (max-width: 1024px) {
  .header__menu {
    position: absolute;
    top: var(--header-height);
    right: 0;
    display: none;
    width: 0;
    height: calc(100dvh - var(--header-height));
    background: rgb(var(--accent-color-200));
    transition: var(--t-timing-function) var(--t-duration);
    overflow: hidden;
  }
  .header__menu--block {
    display: block;
  }
  .header__menu--open {
    width: var(--menu-mobile-width);
  }
  .header__menu-inner {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    min-width: var(--menu-mobile-width);
    height: calc(100dvh - var(--header-height));
    padding: 56px 32px 31px;
    overflow-y: scroll;
    transition: var(--t-timing-function) var(--t-duration);
  }
  .header__navigation {
    flex-grow: 0;
    margin: 0 0 32px;
  }
  .header__navigation-links {
    flex-direction: column;
    justify-content: flex-start;
    gap: 48px;
  }
  .header__navigation-link {
    font-size: 20px;
  }
  .header__navigation-link:active {
    color: rgb(var(--light-color));
    opacity: 0.5;
  }
  .header__login {
    display: none;
  }
  .header__social {
    display: flex;
    gap: 24px;
    margin: 0 0 60px;
  }
  .header__get-study {
    display: inline-block;
    margin: auto 0 24px;
    width: 100%;
  }
  .header__ask-question {
    display: block;
  }
  .header__ask-question button:active {
    opacity: 0.5;
  }
  .header__burger {
    display: block;
  }
}
@media (max-width: 620px) {
  .header__menu--open {
    width: 100%;
  }
  .header__menu-inner {
    padding: 54px 20px 31px;
  }
  .header__social {
    gap: 16px;
  }
  .header__get-study {
    width: auto;
    padding: 12px 44px;
  }
}
@keyframes c-to-cross {
  49% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes t-to-cross {
  0% {
    top: 20%;
    translate: -50% 0%;
  }
  49% {
    top: 50%;
    translate: -50% -50%;
  }
  51% {
    rotate: 0deg;
  }
  100% {
    top: 50%;
    translate: -50% -50%;
    rotate: 45deg;
  }
}
@keyframes b-to-cross {
  0% {
    bottom: 20%;
    translate: -50% 0%;
  }
  49% {
    bottom: 50%;
    translate: -50% 50%;
  }
  51% {
    rotate: 0deg;
  }
  100% {
    bottom: 50%;
    translate: -50% 50%;
    rotate: -45deg;
  }
}
@keyframes c-to-lines {
  49% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes t-to-lines {
  0% {
    top: 20%;
    translate: -50% 0%;
  }
  49% {
    top: 50%;
    translate: -50% -50%;
  }
  51% {
    rotate: 0deg;
  }
  100% {
    top: 50%;
    translate: -50% -50%;
    rotate: 45deg;
  }
}
@keyframes b-to-lines {
  0% {
    bottom: 20%;
    translate: -50% 0%;
  }
  49% {
    bottom: 50%;
    translate: -50% 50%;
  }
  51% {
    rotate: 0deg;
  }
  100% {
    bottom: 50%;
    translate: -50% 50%;
    rotate: -45deg;
  }
}
.preview {
  position: relative;
  padding: 200px 0 177px;
  font-family: var(--font-primary);
  color: rgb(var(--light-color));
  background: rgb(var(--dark-color));
  z-index: 0;
}
.preview::before, .preview::after {
  content: "";
  position: absolute;
  z-index: -100;
  opacity: 0.7;
}
.preview::before {
  top: -110px;
  left: 50%;
  translate: -94% 0;
  width: 1627px;
  height: 1627px;
  background: radial-gradient(rgb(var(--accent-color-200)) 0%, transparent 60%);
}
.preview::after {
  top: -690px;
  right: 50%;
  translate: 81% 0;
  width: 1419px;
  height: 1418px;
  background: radial-gradient(rgb(var(--accent-color-500)) 0%, transparent 60%);
}

.preview__container {
  position: relative;
  z-index: 0;
}
.preview__container::before {
  content: "";
  position: absolute;
  z-index: -100;
  top: -200px;
  left: -81px;
  width: 840px;
  height: 814px;
  background: url("../img/grid.svg") no-repeat 0 0/cover;
}

.preview__title {
  margin: 0 0 16px;
}
.preview__title span {
  display: flex;
  align-items: center;
  gap: 21px;
}
.preview__title span img {
  width: 105px;
  margin: -2px 0 0;
}

.preview__description {
  max-width: 710px;
  margin: 0 0 31px;
  font-size: 16px;
  line-height: 1.39;
  font-weight: 400;
}

.preview__button {
  margin: 0 0 16px;
}

.preview__gif-animation {
  position: absolute;
  z-index: -50;
  top: -18%;
  right: 50px;
  width: 38%;
}

.preview__gif-animation-element {
  position: relative;
  padding: 29.7%;
}

.preview__gif-animation-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1024px) {
  .preview {
    padding: 168px 0 53px;
  }
  .preview::before {
    top: -165px;
    translate: -73% 0;
  }
  .preview::after {
    top: -696px;
    translate: 75% 0;
  }
  .preview__container::before {
    top: -168px;
    left: -388px;
  }
  .preview__title span {
    gap: 19px;
  }
  .preview__title span img {
    width: 78px;
    margin: 5px 0 0;
  }
  .preview__description {
    max-width: 450px;
    margin: 0 0 32px;
    font-size: 14px;
    line-height: 1.42;
  }
  .preview__gif-animation {
    top: -10%;
    right: 31px;
    width: 42%;
  }
}
@media (max-width: 620px) {
  .preview {
    padding: 128px 0 180px;
  }
  .preview::before {
    top: -269px;
    translate: -59% 0;
    width: 1541px;
    height: 1541px;
  }
  .preview::after {
    top: -651px;
    translate: 66% 0;
    width: 1312px;
    height: 1313px;
  }
  .preview__container::before {
    top: -56px;
    left: -276px;
    width: 566px;
    height: 549px;
  }
  .preview__title {
    margin: 0 0 15px;
  }
  .preview__title span {
    gap: 10px;
  }
  .preview__title span img {
    width: 58px;
    margin: 8px 0 0;
  }
  .preview__description {
    margin: 0 0 24px;
    font-size: 12px;
    line-height: 1.41;
  }
  .preview__gif-animation {
    top: auto;
    width: 53%;
    bottom: -56%;
  }
}
.whom {
  padding: 40px 0;
  font-family: var(--font-primary);
  color: rgb(var(--light-color));
  background: rgb(var(--dark-color));
}

.whom__container {
  position: relative;
  z-index: 0;
}

.whom__title--h2 {
  margin: 0 0 39px;
}
.whom__title--h3 {
  margin: 0 0 12px;
}

.whom__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.whom__item {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  min-height: 240px;
  padding: 25px 24px 32px;
  background: rgb(var(--light-color)/15%);
  border-radius: 20px;
}

.whom__item-description {
  margin: 0 0 15px;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
}

.whom__item-text {
  max-width: 250px;
  margin: auto 0 0;
  font-size: 12px;
  line-height: 1.4;
  font-weight: 400;
}

.whom__item-image {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -100;
}

@media (max-width: 1024px) {
  .whom__list {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .whom__item {
    min-height: 194px;
  }
  .whom__item-description,
  .whom__item-text {
    max-width: 400px;
  }
  .whom__item:nth-child(3) .whom__item-description {
    max-width: 420px;
  }
  .whom__item-image {
    right: 8%;
    bottom: 50%;
    translate: 0 50%;
  }
}
@media (max-width: 620px) {
  .whom__title--h2 {
    margin: 0 0 27px;
  }
  .whom__title--h3 {
    margin: 0 0 16px;
  }
  .whom__item {
    min-height: 264px;
  }
  .whom__item-text {
    max-width: 200px;
  }
  .whom__item-image {
    right: 0;
    bottom: 0;
    translate: none;
  }
}
.about {
  padding: 120px 0 162px;
  background: rgb(var(--dark-color));
}

.about__title {
  margin: 0 0 40px;
}

.about__video {
  position: relative;
  width: 83%;
  margin: 0 auto;
  padding: 46.7% 0 0;
}
.about__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: none;
}

@media (max-width: 1024px) {
  .about {
    padding: 65px 0 104px;
  }
  .about__video {
    width: 100%;
    padding: 56.3% 0 0;
  }
}
@media (max-width: 620px) {
  .about {
    padding: 24px 0 67px;
  }
  .about__title {
    margin: 0 0 25px;
  }
  .about__video iframe {
    border-radius: 10px;
  }
}
.includes {
  padding: 49px 0 55px;
  font-family: var(--font-primary);
  color: rgb(var(--light-color));
  background: rgb(var(--accent-color-200));
}

.includes__wrapper {
  display: grid;
  grid-template-columns: 50.8% auto;
  align-items: end;
  margin: 0 0 31px;
}

.includes__title {
  margin: 0 0 24px;
}

.includes__main-text {
  max-width: 520px;
  padding: 0 20px 0 0;
}

.includes__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32.5px 20px;
  grid-column: 2/4;
  grid-row: 1/4;
  margin: 0;
  padding: 0;
  list-style: none;
}

.includes__list-number {
  margin: 0 0 3.8px;
  font-family: var(--font-secondary);
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 2px;
}

.includes__list-description {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .includes {
    padding: 47.8px 0 64px;
  }
  .includes__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .includes__wrapper {
    grid-template-columns: 1fr;
    margin: 0 0 57px;
  }
  .includes__title {
    margin: 0 0 25px;
  }
  .includes__main-text {
    max-width: 100%;
    padding: 0;
  }
  .includes__list {
    grid-template-columns: 47.4% 52.6%;
    grid-column: auto;
    grid-row: auto;
    margin: 33px 0 0;
  }
}
@media (max-width: 620px) {
  .includes {
    padding: 33px 0 49px;
  }
  .includes__wrapper {
    margin: 0 0 40px;
  }
  .includes__title {
    margin: 0 0 16px;
  }
  .includes__list-number {
    font-size: 40px;
  }
  .includes__list-description {
    font-size: 14px;
  }
  .includes__list {
    grid-template-columns: 46.7% 53.3%;
    margin: 24px 0 0;
    gap: 23.5px 20px;
  }
}
@media (max-width: 420px) {
  .includes__button {
    width: 100%;
    padding: 16px 24px;
  }
}
.accordion {
  position: relative;
  z-index: 0;
  display: grid;
  gap: 20.9px;
  min-height: 701.8px;
  font-family: var(--font-primary);
  color: rgb(var(--light-color));
}
.accordion--2 {
  grid-template-rows: repeat(2, 1fr);
}
.accordion--3 {
  grid-template-rows: repeat(3, 1fr);
}
.accordion--4 {
  grid-template-rows: repeat(4, 1fr);
}
.accordion--5 {
  grid-template-rows: repeat(5, 1fr);
}
.accordion--6 {
  grid-template-rows: repeat(6, 1fr);
}
.accordion--7 {
  grid-template-rows: repeat(7, 1fr);
}
.accordion::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 57.7%;
  height: 100%;
  background: rgb(var(--accent-color-400)) radial-gradient(circle at 35% 75%, rgb(var(--accent-color-500)), transparent 65%);
  border-radius: 20px;
}
.accordion--right-gradient::after {
  background: rgb(var(--accent-color-400)) radial-gradient(circle at 65% 75%, rgb(var(--accent-color-500)), transparent 65%);
}

.accordion__question {
  position: relative;
  width: 40.7%;
  height: 100%;
  padding: 10px 90px 10px 32px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  color: inherit;
  text-align: left;
  background: rgb(var(--accent-color-600)/60%);
  border: none;
  border-radius: 20px;
  overflow: hidden;
  transition: var(--t-timing-function) var(--t-duration);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.accordion__question::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 32px;
  width: 48px;
  height: 48px;
  background: url("../img/arrow-in-circle.svg") no-repeat center/cover;
  transition: var(--t-timing-function) var(--t-duration);
  translate: 0 -50%;
  opacity: 0.6;
}
.accordion__question--active {
  background: rgb(var(--accent-color-600));
  cursor: auto;
}
.accordion__question--active::before {
  opacity: 1;
}

@media (hover: hover) {
  .accordion__question:hover {
    background: rgb(var(--accent-color-600));
  }
  .accordion__question:hover::before {
    opacity: 1;
  }
}
.accordion__answer {
  position: absolute;
  z-index: -100;
  top: 0;
  right: 0;
  width: 57.7%;
  height: 100%;
  border-radius: 20px;
  opacity: 0;
  transition: var(--t-timing-function) var(--t-duration);
}

.accordion__question--active ~ .accordion__answer {
  z-index: 100;
  opacity: 1;
}

.accordion__answer-inner {
  height: auto;
  padding: 49px 48px;
}

.accordion__answer-title {
  margin: 0 0 48px;
}

.accordion__answer-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 40px;
}
.accordion__answer-img img {
  max-width: 100%;
  max-height: 240px;
}

.accordion__answer-paragraph:not(:last-child) {
  margin: 0 0 15px;
}

@media (max-width: 1024px) {
  .accordion {
    display: block;
    min-height: auto;
  }
  .accordion::after {
    display: none;
  }
  .accordion__item {
    margin: 0 0 24px;
  }
  .accordion__question {
    width: 100%;
    height: 112px;
  }
  .accordion__question::before {
    rotate: 90deg;
  }
  .accordion__question--active {
    border-radius: 20px 20px 0 0;
  }
  .accordion__question--active::before {
    rotate: -90deg;
  }
  .accordion__answer {
    opacity: 0;
  }
  .accordion__answer,
  .accordion__question--active ~ .accordion__answer {
    position: static;
    width: 100%;
    height: auto;
    background: rgb(var(--accent-color-400)) radial-gradient(circle at 35% 75%, rgb(var(--accent-color-500)), transparent 60%);
    border-radius: 0 0 20px 20px;
    overflow: hidden;
  }
  .accordion__question--active ~ .accordion__answer {
    opacity: 1;
  }
  .accordion--right-gradient .accordion__answer {
    background: rgb(var(--accent-color-400)) radial-gradient(circle at 65% 75%, rgb(var(--accent-color-500)), transparent 60%);
  }
  .accordion__answer-inner {
    padding: 17px 32px 48px;
  }
  .accordion__answer-paragraph:not(:last-child) {
    margin: 0 0 16px;
  }
}
@media (max-width: 620px) {
  .accordion__item {
    margin: 0 0 16px;
  }
  .accordion__question {
    height: 96px;
    padding: 10px 80px 10px 16px;
    font-size: 16px;
  }
  .accordion__question::before {
    right: 15px;
  }
  .accordion__answer-inner {
    padding: 16px 24px 48px;
  }
  .accordion__answer-title {
    margin: 0 0 39px;
  }
  .accordion__answer-img {
    margin: 0 0 34px;
  }
  .accordion__answer-img img {
    max-height: 160px;
  }
}
.program {
  position: relative;
  padding: 161px 0 159px;
  font-family: var(--font-primary);
  color: rgb(var(--light-color));
  background: rgb(var(--dark-color));
  overflow: hidden;
}

.program__container {
  position: relative;
  z-index: 0;
}
.program__container::before, .program__container::after {
  content: "";
  position: absolute;
}
.program__container::before {
  z-index: -200;
  top: -146px;
  left: -615px;
  width: 1050px;
  height: 1050px;
  background: radial-gradient(rgb(var(--accent-color-200)) 0%, transparent 70%);
  opacity: 0.7;
}
.program__container::after {
  z-index: -100;
  top: -160px;
  right: -400px;
  width: 840px;
  height: 814px;
  background: url("../img/grid.svg") no-repeat 0 0/cover;
}

.program__title--h2 {
  margin: 0 0 24px;
}

@media (max-width: 1024px) {
  .program {
    padding: 105px 0 80px;
  }
  .program__container::before {
    top: -36px;
    left: -555px;
  }
  .program__container::after {
    top: -130px;
    right: -420px;
  }
  .program__title--h2 {
    margin: 0 0 23px;
  }
}
@media (max-width: 620px) {
  .program {
    padding: 64px 0 48px;
  }
  .program__container::after {
    top: -64px;
    right: -299px;
    width: 566px;
    height: 549px;
  }
  .program__title--h2 {
    margin: 0 0 24px;
  }
}
.tariffs {
  position: relative;
  font-family: var(--font-primary);
  color: rgb(var(--light-color));
  padding: 48px 0 62px;
  background: rgb(var(--accent-color-200));
  overflow: hidden;
}
.tariffs::before {
  content: "";
  position: absolute;
  top: -59px;
  left: 9px;
  width: 840px;
  height: 815px;
  background: url("../img/grid.svg") no-repeat center/cover;
}

.tariffs__title--h2 {
  margin: 0 0 24px;
}

.tariffs__wrapper {
  display: flex;
  align-items: center;
  width: 1032px;
  margin: 0 auto;
}

.tariffs__tariff {
  position: relative;
  flex-shrink: 0;
  border-radius: 20px;
  overflow: hidden;
}
.tariffs__tariff--group {
  z-index: 0;
  width: 46.9%;
  padding: 48px 49px 64px;
  border-radius: 20px 0 0 20px;
  background: rgb(var(--light-color)/15%);
}
.tariffs__tariff--individual {
  width: 53.1%;
  padding: 66px 56px 88px;
  background: rgb(var(--accent-color-400));
}

.tariffs__title--h3 {
  margin: 0 0 16px;
}

.tariffs__tariff-description {
  margin: 0 0 23px;
}

.tariffs__price {
  margin: 0 0 24px;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
}

.tariffs__advantages-list {
  margin: 0 0 43px;
  padding: 0 0 0 48px;
  list-style: none;
}

.tariffs__advantages-item {
  position: relative;
  font-weight: 400;
  line-height: 1.38;
}
.tariffs__advantages-item:not(:last-child) {
  margin: 0 0 26px;
}
.tariffs__advantages-item--fix {
  margin: 0 0 22px !important;
}
.tariffs__advantages-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -48px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  translate: 0 -50%;
}

.tariffs__tariff--group .tariffs__advantages-item::before {
  background-image: url("../img/check-group.svg");
}

.tariffs__tariff--individual .tariffs__advantages-item::before {
  background-image: url("../img/check-individual.svg");
}

.tariffs__advantages-item--extra::before {
  background-image: url("../img/check-individual-white.svg") !important;
}

.tariffs__button {
  width: 100%;
}

@media (max-width: 1024px) {
  .tariffs {
    padding: 48px 0 64px;
  }
  .tariffs::before {
    display: none;
  }
  .tariffs__title--h2 {
    margin: 0 0 57px;
  }
  .tariffs__wrapper {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .tariffs__tariff--group {
    width: 74.5%;
    padding: 48px 49px 49px;
    border-radius: 20px 20px 0 0;
  }
  .tariffs__tariff--individual {
    width: 100%;
    padding: 63px 90px 81px;
  }
  .tariffs__tariff-description {
    margin: 0 0 25px;
  }
}
@media (max-width: 620px) {
  .tariffs {
    padding: 32px 0 0;
  }
  .tariffs__title--h2 {
    margin: 0 0 24px;
  }
  .tariffs__tariff--group {
    width: 100%;
    padding: 33px 24px 32px;
  }
  .tariffs__tariff--individual {
    width: 100vw;
    min-width: 360px;
    padding: 40px 20px 56px;
    border-radius: 0;
  }
  .tariffs__tariff-description {
    margin: 0 0 16px;
  }
  .tariffs__price {
    margin: 0 0 17px;
    font-size: 32px;
    letter-spacing: 1.5px;
  }
  .tariffs__advantages-list {
    margin: 0 0 24px;
    padding: 0 0 0 40px;
  }
  .tariffs__tariff--individual .tariffs__advantages-list {
    margin: 0 0 30px;
    padding: 0 0 0 48px;
  }
  .tariffs__advantages-item {
    font-size: 14px;
  }
  .tariffs__advantages-item--fix {
    margin: 0 0 17.5px !important;
  }
  .tariffs__advantages-item::before {
    left: -40px;
  }
  .tariffs__tariff--individual .tariffs__advantages-item:not(:last-child) {
    margin: 0 0 29px;
  }
  .tariffs__tariff--individual .tariffs__advantages-item--fix {
    margin: 0 0 22px !important;
  }
  .tariffs__tariff--individual .tariffs__advantages-item::before {
    left: -48px;
  }
}
.faq {
  padding: 161px 0 100px;
  font-family: var(--font-primary);
  color: rgb(var(--light-color));
  background: rgb(var(--dark-color));
  overflow: hidden;
}

.faq__container {
  position: relative;
  z-index: 0;
}
.faq__container::before, .faq__container::after {
  content: "";
  position: absolute;
}
.faq__container::before {
  z-index: -200;
  bottom: -50px;
  left: -760px;
  width: 1289px;
  height: 1042px;
  background: radial-gradient(rgb(var(--accent-color-500)) 0%, transparent 60%);
  opacity: 0.7;
}
.faq__container::after {
  z-index: -100;
  bottom: -90px;
  left: -80px;
  width: 840px;
  height: 814px;
  background: url("../img/grid.svg") no-repeat 0 0/cover;
}

.faq__title--h2 {
  margin: 0 0 24px;
}

@media (max-width: 1024px) {
  .faq {
    padding: 105px 0 72px;
  }
  .faq__container::before {
    bottom: -250px;
    left: -700px;
  }
  .faq__container::after {
    bottom: -93px;
    left: 0;
  }
}
@media (max-width: 620px) {
  .faq {
    padding: 65px 0 48px;
  }
  .faq__container::before {
    bottom: -250px;
  }
  .faq__container::after {
    bottom: -64px;
    width: 566px;
    height: 549px;
  }
}
.footer {
  padding: 44px 0 31px;
  font-family: var(--font-primary);
  color: rgb(var(--light-color));
  background: rgb(var(--dark-color));
}

.footer__top-wrapper {
  display: flex;
  align-items: center;
  margin: 0 0 120px;
}

.footer__title {
  width: 400px;
  margin: 0 auto 0 0;
}

.footer__button-wrapper {
  display: flex;
  gap: 18px;
}

.footer__bottom-wrapper {
  display: flex;
  align-items: center;
}

.footer__logo {
  margin: 0 132px 0 0;
  cursor: auto;
}

.footer__link-wrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.footer__ask-question {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 20px;
  font-weight: 700;
}
.footer__ask-question p {
  margin: 0;
}
.footer__ask-question button {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background: none;
  border: none;
  transition: var(--t-timing-function) var(--t-duration);
}

@media (hover: hover) {
  .footer__ask-question button:hover {
    color: rgb(var(--accent-color-200));
    cursor: pointer;
  }
}
.footer__ask-question button:active {
  color: rgb(var(--accent-color-200));
}

.footer__social {
  margin: 0 -6px 0 0;
}

@media (max-width: 1024px) {
  .footer__top-wrapper {
    flex-direction: column;
    margin: 0 0 81px;
  }
  .footer__title {
    width: auto;
    margin: 0 0 40px;
  }
  .footer__button-wrapper {
    width: 100%;
  }
  .footer__button-wrapper .button {
    width: 50%;
    padding: 16px 20px;
  }
  .footer__logo {
    margin: 0 62px 0 0;
  }
  .footer__ask-question {
    font-size: 16px;
  }
}
@media (max-width: 620px) {
  .footer {
    padding: 48px 0 25px;
  }
  .footer__title {
    margin: 0 0 31px;
  }
  .footer__top-wrapper {
    margin: 0 0 57px;
  }
  .footer__button-wrapper {
    flex-direction: column;
    gap: 15px;
  }
  .footer__button-wrapper .button {
    width: 100%;
  }
  .footer__bottom-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__logo {
    margin: 0 0 20px;
  }
  .footer__link-wrapper {
    width: 100%;
  }
  .footer__ask-question {
    font-size: 14px;
  }
  .footer__social {
    gap: 8px;
  }
}
.modal-ask,
.modal-sent {
  position: fixed;
  z-index: 400;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  width: 618px;
  padding: 48px 48px 64px;
  background: rgb(var(--accent-color-200));
  border-radius: 20px;
  opacity: 1;
  translate: -50% -50%;
  transition: var(--t-timing-function) var(--t-duration);
}
.modal-ask--none,
.modal-sent--none {
  display: none;
}
.modal-ask--transparent,
.modal-sent--transparent {
  opacity: 0;
}

.modal-ask__title {
  margin: 0 0 16px;
}

.modal-ask__text {
  margin: 0 0 24px;
}

.modal-ask__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.modal-ask__form-field {
  width: 100%;
  margin-bottom: 23px;
}

.modal-ask__form-checkbox {
  margin: 0 0 42px;
}

.modal-ask__submit {
  width: 100%;
}

.modal-sent__title {
  margin: 0 0 18px;
}

.modal-sent__message {
  margin: 0;
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  color: rgb(var(--light-color));
}

.modal-ask__close,
.modal-sent__close {
  position: absolute;
  top: 40px;
  right: 48px;
}

.modal-sent__close--mobile {
  position: static;
  display: none;
  margin: auto 0 0;
}

.modal-overlay {
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(var(--dark-color)/80%);
  transition: var(--t-timing-function) var(--t-duration);
}
.modal-overlay--none {
  display: none;
}
.modal-overlay--transparent {
  opacity: 0;
}

.modal-overlay__loader,
.modal-overlay__loader div {
  box-sizing: border-box;
}

.modal-overlay__loader {
  display: block;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  translate: -50% -50%;
}
.modal-overlay__loader--none {
  display: none;
}
.modal-overlay__loader--transparent {
  opacity: 0;
}

.modal-overlay__loader div {
  position: absolute;
  border: 4px solid rgb(var(--accent-color-200));
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.modal-overlay__loader div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}
@media (max-width: 1024px) {
  .modal-ask,
  .modal-sent {
    width: 522px;
    padding: 48px 32px 64px;
  }
  .modal-ask__close,
  .modal-sent__close {
    right: 32px;
  }
  .modal-sent__message {
    font-size: 14px;
    font-weight: 400;
  }
}
@media (max-width: 620px) {
  .modal-ask,
  .modal-sent {
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    padding: 33px 21px;
    border-radius: 0;
    translate: 0 0;
  }
  .modal-ask__close,
  .modal-sent__close {
    top: 32px;
    right: 20px;
  }
  .modal-sent__close--mobile {
    display: block;
  }
  .modal-ask__title {
    margin: 0 0 32px;
  }
  .modal-ask__submit {
    margin: auto 0 0;
  }
  .modal-sent__title {
    margin: 0 0 32px;
  }
  .modal-overlay {
    background: rgb(var(--accent-color-200));
  }
  .modal-overlay__loader div {
    border: 4px solid rgb(var(--light-color));
  }
}
.header-light {
  height: 80px;
  border: 1px solid rgb(var(--gray-color-200));
}

.header-light__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-light__back-btn {
  position: absolute;
  top: 50%;
  left: var(--container-padding-desktop);
  translate: 0 -50%;
}

@media (max-width: 1024px) {
  .header-light__back-btn {
    left: var(--container-padding-tablet);
  }
}
@media (max-width: 620px) {
  .header-light {
    height: 66px;
  }
  .header-light__container {
    justify-content: flex-end;
  }
  .header-light__back-btn {
    left: var(--container-padding-mobile);
  }
}
.form-area {
  font-family: var(--font-primary);
  color: rgb(var(--dark-color));
}
.form-area--signup {
  padding: 83px 0 0;
}
.form-area--login {
  padding: 104px 0 0;
}

.form-area__inner {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px 40px 58px;
  background: rgb(var(--gray-color-100));
  border-radius: 20px;
}

.form-area__title {
  margin: 0 0 38px;
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 400;
  color: rgb(var(--gray-color-400));
  text-align: center;
}

.form-area form {
  position: relative;
}

.form-area__form-field {
  margin: 0 0 24px;
}

.form-area__form-field--no-margin {
  margin: 0;
}

.form-area__form-checkbox {
  margin: 0 0 25px;
}

.form-area__button {
  width: 100%;
  margin: 0 0 12px;
}

.form-area__divider {
  display: block;
  width: 100%;
  height: 2px;
  margin: 12px 0 20px;
  background: rgb(var(--gray-color-200));
  border-radius: 5px;
}

.form-area__link {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: rgb(var(--dark-color));
  text-decoration: none;
  cursor: default;
}
.form-area__link--center {
  width: 100%;
  text-align: center;
}
.form-area__link--not-remember {
  margin: 6px 2px 24px;
}
.form-area__link span {
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
  transition: var(--t-timing-function) var(--t-duration);
}

@media (hover: hover) {
  .form-area__link span:hover {
    color: rgb(var(--accent-color-200));
  }
}
@media (max-width: 620px) {
  .form-area {
    padding: 0;
  }
  .form-area__inner {
    padding: 56px 0;
    background: rgb(var(--light-color));
  }
  .form-area__title {
    margin: 0 0 31px;
  }
}
.has-danger.form-field--dark input {
  border: 2px solid rgb(var(--error-color-100));
}

.has-danger.form-checkbox--dark .form-checkbox__fakebox {
  border: 2px solid rgb(var(--error-color-100));
}

.text-help {
  position: absolute;
  left: 5px;
  bottom: -18px;
  font-size: 12px;
}

.form-field--light .text-help,
.form-checkbox--light .text-help {
  color: rgb(var(--light-color)/50%);
}

.form-field--dark .text-help,
.form-checkbox--dark .text-help {
  color: rgb(var(--error-color-100));
}

.text-help--main {
  display: none;
  top: -35px;
  left: 50%;
  translate: -50% 0;
  width: 100%;
  max-height: 30px;
  padding: 0 20px;
  text-align: center;
  color: rgb(var(--error-color-200));
}

.has-danger .text-help--main {
  display: block;
}

@media (max-width: 620px) {
  .text-help--main {
    top: -28px;
  }
}/*# sourceMappingURL=style.css.map */