$tablet: 1024px;
$mobile: 620px;

:root {
  --tablet: 1024px;
  --mobile: 620px;
  --container-padding-desktop: 20px;
  --container-padding-tablet: 30px;
  --container-padding-mobile: 20px;
  --font-primary: "inter", sans-serif;
  --font-secondary: "play", sans-serif;
  --light-color: 255 255 255;
  --dark-color: 20 20 20;
  --gray-color-100: 242 242 242;
  --gray-color-200: 214 214 214;
  --gray-color-300: 127 127 127;
  --gray-color-400: 51 50 54;
  --accent-color-100: 152 73 173;
  --accent-color-200: 135 29 161;
  --accent-color-300: 109 14 132;
  --accent-color-400: 45 18 67;
  --accent-color-500: 43 48 158;
  --accent-color-600: 44 44 145;
  --error-color-100: 181 23 23;
  --error-color-200: 235 0 0;
  --t-duration: 200ms;
  --t-timing-function: ease;
  --header-height: 72px;
  --menu-mobile-width: 289px;
}
