/*** *** general *** ***/

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background: rgb(var(--dark-color));
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--accent-color-200));
}

* {
  scrollbar-color: rgb(var(--accent-color-200)) rgb(var(--dark-color));
}

html {
  scroll-behavior: smooth;
}

.body {
  min-width: 360px;
  padding: 0;
  margin: 0;
  background: rgb(var(--dark-color));
}

.body--no-scroll {
  overflow: hidden;
}

.main {
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  position: relative;
  margin: 0;
  font-family: var(--font-secondary);
  font-weight: 700;
  color: rgb(var(--light-color));

  &--h1 {
    font-size: 64px;
    line-height: 1.3;
    letter-spacing: 2.6px;
  }

  &--h2 {
    font-size: 32px;
    letter-spacing: 1.3px;
  }

  &--h3 {
    font-size: 24px;
    letter-spacing: 1px;
  }
}

.title__link {
  position: absolute;
  top: calc(var(--header-height) * -1.5);
  left: 0;
}

.logo {
  display: block;
  width: 184px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);

  img {
    display: block;
    width: 100%;
  }
}

.main-text {
  margin: 0;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.38;
  font-weight: 400;
  color: rgb(var(--light-color));
}

.nobr {
  white-space: nowrap;
}

.button {
  display: inline-block;
  padding: 16px 32px;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  text-align: center;
  color: rgb(var(--accent-color-200));
  text-decoration: none;
  background: rgb(var(--light-color));
  border-radius: 8px;
  transition: var(--t-timing-function) var(--t-duration);
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);

  &--small {
    padding: 12px 24px;
  }

  &--accent {
    color: rgb(var(--light-color));
    background: rgb(var(--accent-color-200));
  }

  &--transparent {
    color: rgb(var(--light-color));
    background: none;
    box-shadow: inset 0 0 0 2px rgb(var(--light-color));
  }
}

@media(hover: hover) {
  .button:hover {
    color: rgb(var(--light-color));
    background: rgb(var(--accent-color-100));
  }

  .button--transparent:hover {
    color: rgb(var(--accent-color-200));
    background: rgb(var(--light-color));
  }
}

.button:active {
  color: rgb(var(--light-color));
  background: rgb(var(--accent-color-300));
}

.button--transparent:active {
  box-shadow: none;
}

.social {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: rgb(var(--light-color));
  background: rgb(var(--light-color) / 15%);
  border-radius: 8px;
  overflow: hidden;
  transition: var(--t-timing-function) var(--t-duration);
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);

  svg path {
    fill: currentcolor;
  }
}

@media(hover: hover) {
  .social__link:hover{
    background: rgb(var(--light-color) / 20%);
  }
}

.social__link:active {
  background: rgb(var(--light-color) / 50%);
}

.social--transparent .social__link {
  background: none;
}

@media(hover: hover) {
  .social--transparent .social__link:hover {
    color: rgb(var(--accent-color-200));
  }
}

.social--transparent .social__link:active {
  color: rgb(var(--accent-color-200));
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-field {
  width: 100%;
  margin: 0 0 23px;
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  color: rgb(var(--light-color));

  lable {
    display: block;
    width: 100%;
    margin: 0 0 8px;
  }

  input,
  textarea {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 8px;
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    color: rgb(var(--light-color));
    border-radius: 8px;
    border: 2px solid rgb(var(--light-color));
    background: transparent;
    outline: none;

    &::placeholder {
      color: rgb(var(--light-color) / 50%);
    }
  }

  input {
    // vertical-align: center;
  }

  textarea {
    height: 98px;
    padding: 8px;
    font-family: var(--font-primary);
    resize: none;
    overflow: hidden;
  }
}

@media(max-width: $tablet) {
  .container {
    padding: 0 30px;
  }

  .title {
    &--h1 {
      font-size: 48px;
      letter-spacing: 1.9px;
    }
  }

  .main-text {
    font-size: 14px;
    line-height: 1.42;
  }
}

@media(max-width: $mobile) {
  .container {
    padding: 0 20px;
  }

  .title {
    &--h1 {
      font-size: 32px;
      line-height: 1.34;
      letter-spacing: 1.3px;
    }

    &--h2 {
      font-size: 24px;
      letter-spacing: 1px;
    }

    &--h3 {
      font-size: 20px;
      letter-spacing: 0.8px;
    }
  }

  .logo {
    width: 158px;
  }
}
