/*** *** general *** ***/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.page {
  min-width: 360px;
  margin: 0;
  padding: 0 0 500px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  margin: 0;
  font-family: var(--font-secondary);
  font-weight: 700;
  color: var(--light-color);

  &--h2 {
    font-size: 32px;
    letter-spacing: 1.3px;
  }

  &--h3 {
    font-size: 24px;
    letter-spacing: 1px;
  }
}

.main-text {
  margin: 0;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.38;
  font-weight: 400;
  color: var(--light-color);
}

.button {
  display: inline-block;
  padding: 16px 32px;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  text-align: center;
  color: var(--accent-color-200);
  text-decoration: none;
  background: var(--light-color);
  border-radius: 8px;
  transition: ease-in var(--transition-duration);
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

@media(hover: hover) {
  .button:hover {
    color: var(--light-color);
    background: var(--accent-color-100);
  }
}

.button:active {
  color: var(--light-color);
  background: var(--accent-color-300);
}

@media(max-width: $tablet) {
  .container {
    padding: 0 30px;
  }

  .main-text {
    font-size: 14px;
    line-height: 1.42;
  }
}

@media(max-width: $mobile) {
  .container {
    padding: 0 20px;
  }

  .title {
    &--h2 {
      font-size: 24px;
      letter-spacing: 1px;
    }

    &--h3 {
      font-size: 20px;
      letter-spacing: 0.8px;
    }
  }
}
