/*** *** variables *** ***/

:root {
  --font-primary: "inter", sans-serif;
  --font-secondary: "play", sans-serif;
  --light-color: #fff;
  --dark-color: #141414;
}

// $tablet: 768px;
// $mobile: 375px;

$tablet: 1024px;
$mobile: 620px;
