/*** *** header *** ***/

.header {
  position: sticky;
  z-index: 200;
  top: 0;
  left: 0;
  height: var(--header-height);
  margin: calc(var(--header-height) * -1) 0 0;
  font-family: var(--font-primary);
  color: rgb(var(--light-color));
  background: rgb(var(--dark-color) / 80%);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__logo {
  flex-shrink: 0;
}

.header__menu {
  flex-grow: 1;
}

.header__menu-inner {
  display: flex;
  align-items: center;
  gap: 8.3%;
}

.header__navigation {
  flex-grow: 1;
}

.header__navigation-links {
  display: flex;
  justify-content: center;
  gap: 51px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__navigation-link {
  font-size: 16px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  transition: var(--t-timing-function) var(--t-duration);
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

@media(hover: hover) {
  .header__navigation-link:hover {
    color: rgb(var(--accent-color-100));
  }
}

.header__navigation-link:active {
  color: rgb(var(--accent-color-300));
}

.header__social {
  display: none;
}

.header__get-study {
  display: none;
}

.header__ask-question {
  display: none;
  font-size: 16px;
  font-weight: 700;

  p {
    margin: 0;
  }

  button {
    padding: 0;
    font-family: var(--font-primary);
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    background: none;
    border: none;
    transition: var(--t-timing-function) var(--t-duration);
  }
}

.header__burger {
  position: relative;
  display: none;
  width: 40px;
  height: 40px;
  padding: 0;
  background: transparent;
  border: none;
}

.header__burger-t-el,
.header__burger-b-el,
.header__burger-c-el {
  position: absolute;
  height: 2px;
  background: rgb(var(--light-color));
  border-radius: 5px;
  animation-duration: var(--t-duration);
  animation-timing-function: var(--t-timing-function);
  animation-fill-mode: forwards;
}

.header__burger-t-el,
.header__burger-b-el {
  left: 50%;
  width: 34px;
  translate: -50% 0%;
}

.header__burger-t-el {
  top: 20%;
}

.header__burger-b-el {
  bottom: 20%;
}

.header__burger-c-el {
  top: 50%;
  right: 2.5px;
  width: 28px;
  translate: 0 -50%;
}

.header__burger--cross {
  .header__burger-t-el {
    animation-name: t-to-cross;
  }

  .header__burger-b-el {
    animation-name: b-to-cross;
  }

  .header__burger-c-el {
    animation-name: c-to-cross;
  }
}

.header__burger--lines {
  .header__burger-t-el,
  .header__burger-b-el,
  .header__burger-c-el {
    animation-direction: reverse;
  }

  .header__burger-t-el {
    animation-name: t-to-lines;
  }

  .header__burger-b-el {
    animation-name: b-to-lines;
  }

  .header__burger-c-el {
    animation-name: c-to-lines;
  }
}

.header__overlay {
  content: '';
  position: absolute;
  z-index: -100;
  top: var(--header-height);
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: rgb(var(--dark-color) / 80%);
  transition: var(--t-timing-function) var(--t-duration);

  &--none {
    display: none;
  }

  &--transparent {
    opacity: 0;
  }
}

@media(max-width: $tablet) {
  .header__menu {
    position: absolute;
    top: var(--header-height);
    right: 0;
    display: none;
    width: 0;
    height: calc(100dvh - var(--header-height));
    background: rgb(var(--accent-color-200));
    transition: var(--t-timing-function) var(--t-duration);
    overflow: hidden;

    &--block {
      display: block;
    }

    &--open {
      width: var(--menu-mobile-width);
    }
  }

  .header__menu-inner {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    min-width: var(--menu-mobile-width);
    height: calc(100dvh - var(--header-height));
    padding: 56px 32px 31px;
    overflow-y: scroll;
    transition: var(--t-timing-function) var(--t-duration);
  }

  .header__navigation {
    flex-grow: 0;
    margin: 0 0 32px;
  }

  .header__navigation-links {
    flex-direction: column;
    justify-content: flex-start;
    gap: 48px;
  }

  .header__navigation-link {
    font-size: 20px;

    &:active {
      color: rgb(var(--light-color));
      opacity: .5;
    }
  }

  .header__login {
    display: none;
  }

  .header__social {
    display: flex;
    gap: 24px;
    margin: 0 0 60px;
  }

  .header__get-study {
    display: inline-block;
    margin: auto 0 24px;
    width: 100%;
  }

  .header__ask-question {
    display: block;

    button:active {
      opacity: .5;
    }
  }

  .header__burger {
    display: block;
  }
}

@media(max-width: $mobile) {
  .header__menu--open {
    width: 100%;
  }

  .header__menu-inner {
    padding: 54px 20px 31px;
  }

  .header__social {
    gap: 16px;
  }

  .header__get-study {
    width: auto;
    padding: 12px 44px;
  }
}

@keyframes c-to-cross {
  49% {
    opacity: 1;
  }

  51% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes t-to-cross {
  0% {
    top: 20%;
    translate: -50% 0%;
  }

  49% {
    top: 50%;
    translate: -50% -50%;
  }

  51% {
    rotate: 0deg;
  }

  100% {
    top: 50%;
    translate: -50% -50%;
    rotate: 45deg;
  }
}

@keyframes b-to-cross {
  0% {
    bottom: 20%;
    translate: -50% 0%;
  }

  49% {
    bottom: 50%;
    translate: -50% 50%;
  }

  51% {
    rotate: 0deg;
  }

  100% {
    bottom: 50%;
    translate: -50% 50%;
    rotate: -45deg;
  }
}

@keyframes c-to-lines {
  49% {
    opacity: 1;
  }

  51% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes t-to-lines {
  0% {
    top: 20%;
    translate: -50% 0%;
  }

  49% {
    top: 50%;
    translate: -50% -50%;
  }

  51% {
    rotate: 0deg;
  }

  100% {
    top: 50%;
    translate: -50% -50%;
    rotate: 45deg;
  }
}

@keyframes b-to-lines {
  0% {
    bottom: 20%;
    translate: -50% 0%;
  }

  49% {
    bottom: 50%;
    translate: -50% 50%;
  }

  51% {
    rotate: 0deg;
  }

  100% {
    bottom: 50%;
    translate: -50% 50%;
    rotate: -45deg;
  }
}
