/*** *** preview *** ***/

.preview {
  position: relative;
  padding: 200px 0 177px;
  font-family: var(--font-primary);
  color: rgb(var(--light-color));
  background: rgb(var(--dark-color));
  z-index: 0;

    &::before,
    &::after {
      content: '';
      position: absolute;
      z-index: -100;
      opacity: .7;
    }

    &::before {
      top: -110px;
      left: 50%;
      translate: -94% 0;
      width: 1627px;
      height: 1627px;
      background: radial-gradient(rgb(var(--accent-color-200)) 0%, transparent 60%);
    }

    &::after {
      top: -690px;
      right: 50%;
      translate: 81% 0;
      width: 1419px;
      height: 1418px;
      background: radial-gradient(rgb(var(--accent-color-500)) 0%, transparent 60%);
    }
}

.preview__container {
  position: relative;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    z-index: -100;
    top: -200px;
    left: -81px;
    width: 840px;
    height: 814px;
    background: url('./img/grid.svg') no-repeat 0 0 / cover;
  }
}

.preview__title {
  margin: 0 0 16px;

  span {
    display: flex;
    align-items: center;
    gap: 21px;

    img {
      width: 105px;
      margin: -2px 0 0;
    }
  }
}

.preview__description {
  max-width: 710px;
  margin: 0 0 31px;
  font-size: 16px;
  line-height: 1.39;
  font-weight: 400;
}

.preview__button {
  margin: 0 0 16px;
}

@media(max-width: $tablet) {
  .preview {
    padding: 168px 0 53px;

    &::before {
      top: -165px;
      translate: -73% 0;
    }

    &::after {
      top: -696px;
      translate: 75% 0;
    }
  }

  .preview__container {
      &::before {
      top: -168px;
      left: -388px;
    }
  }

  .preview__title {
    span {
      gap: 19px;

      img {
        width: 78px;
        margin: 5px 0 0;
      }
    }
  }

  .preview__description {
    max-width: 450px;
    margin: 0 0 32px;
    font-size: 14px;
    line-height: 1.42;
  }
}

@media(max-width: $mobile) {
  .preview {
    padding: 128px 0 180px;

    &::before {
      top: -269px;
      translate: -59% 0;
      width: 1541px;
      height: 1541px;
    }

    &::after {
      top: -651px;
      translate: 66% 0;
      width: 1312px;
      height: 1313px;
    }
  }

  .preview__container {
    &::before {
      top: -56px;
      left: -276px;
      width: 566px;
      height: 549px;
  }
}

  .preview__title {
    margin: 0 0 15px;

    span {
      gap: 10px;

      img {
        width: 58px;
        margin: 8px 0 0;
      }
    }
  }

  .preview__description {
    margin: 0 0 24px;
    font-size: 12px;
    line-height: 1.41;
  }
}
