/*** *** fonts *** ***/
@font-face {
  font-family: "play";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/play-bold.woff2") format("woff2");
}

@font-face {
  font-family: "inter";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/inter-semibold.woff2") format("woff2");
}

@font-face {
  font-family: "inter";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/inter-medium.woff2") format("woff2");
}

@font-face {
  font-family: "inter";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/inter-regular.woff2") format("woff2");
}

/*** *** variables *** ***/
:root {
  --font-primary: "inter", sans-serif;
  --font-secondary: "play", sans-serif;
  --light-color: #fff;
  --dark-color: #141414;
  --accent-color-100: #9849ad;
  --accent-color-200: #871da1;
  --accent-color-300: #6d0e84;
  --accent-color-400: #2b309e;
  --t-duration: 120ms;
  --t-timing-function: ease;
}

/*** *** general *** ***/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 360px;
  margin: 0;
  padding: 100px 0;
  background: green;
}

main {
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  margin: 0;
  font-family: var(--font-secondary);
  font-weight: 700;
  color: var(--light-color);
}

.title--h1 {
  font-size: 64px;
  line-height: 1.3;
  letter-spacing: 2.6px;
}

.title--h2 {
  font-size: 32px;
  letter-spacing: 1.3px;
}

.title--h3 {
  font-size: 24px;
  letter-spacing: 1px;
}

.main-text {
  margin: 0;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.38;
  font-weight: 400;
  color: var(--light-color);
}

.nobr {
  white-space: nowrap;
}

.button {
  display: inline-block;
  padding: 16px 32px;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  text-align: center;
  color: var(--accent-color-200);
  text-decoration: none;
  background: var(--light-color);
  border-radius: 8px;
  transition: var(--t-timing-function) var(--t-duration);
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

.button--small {
  padding: 12px 24px;
}

@media (hover: hover) {
  .button:hover {
    color: var(--light-color);
    background: var(--accent-color-100);
  }
}

.button:active {
  color: var(--light-color);
  background: var(--accent-color-300);
}

.social {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: var(--light-color);
  border-radius: 8px;
  overflow: hidden;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

.social__link svg path {
  fill: currentcolor;
}

.social__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  background: var(--light-color);
  opacity: 0.15;
  transition: var(--t-timing-function) var(--t-duration);
}

@media (hover: hover) {
  .social__link:hover::before {
    opacity: 0.2;
  }
}

.social__link:active::before {
  opacity: 0.5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 30px;
  }

  .title--h1 {
    font-size: 48px;
    letter-spacing: 1.9px;
  }

  .main-text {
    font-size: 14px;
    line-height: 1.42;
  }
}

@media (max-width: 620px) {
  .container {
    padding: 0 20px;
  }

  .title--h1 {
    font-size: 32px;
    line-height: 1.34;
    letter-spacing: 1.3px;
  }

  .title--h2 {
    font-size: 24px;
    letter-spacing: 1px;
  }

  .title--h3 {
    font-size: 20px;
    letter-spacing: 0.8px;
  }
}

/*** *** preview *** ***/
.preview {
  position: relative;
  padding: 200px 0 177px;
  font-family: var(--font-primary);
  color: var(--light-color);
  background: var(--dark-color);
  z-index: 0;
}

.preview::before, .preview::after {
  content: "";
  position: absolute;
  z-index: -100;
}

.preview::before {
  top: -110px;
  left: 50%;
  translate: -94% 0;
  width: 1627px;
  height: 1627px;
  opacity: 0.7;
  background: radial-gradient(var(--accent-color-200) 0%, transparent 60%);
}

.preview::after {
  top: -690px;
  right: 50%;
  translate: 81% 0;
  width: 1419px;
  height: 1418px;
  opacity: 0.7;
  background: radial-gradient(var(--accent-color-400) 0%, transparent 60%);
}

.preview__container {
  position: relative;
  z-index: 0;
}

.preview__container::before {
  content: "";
  position: absolute;
  z-index: -100;
  top: -200px;
  left: -81px;
  width: 840px;
  height: 814px;
  background: url("./img/grid.svg") no-repeat 0 0/cover;
}

.preview__title {
  margin: 0 0 16px;
}

.preview__title span {
  display: flex;
  align-items: center;
  gap: 21px;
}

.preview__title span img {
  width: 105px;
  margin: -2px 0 0;
}

.preview__description {
  max-width: 710px;
  margin: 0 0 31px;
  font-size: 16px;
  line-height: 1.39;
  font-weight: 400;
}

.preview__button {
  margin: 0 0 16px;
}

@media (max-width: 1024px) {
  .preview {
    padding: 168px 0 53px;
  }

  .preview::before {
    top: -165px;
    translate: -73% 0;
  }

  .preview::after {
    top: -696px;
    translate: 75% 0;
  }

  .preview__container::before {
    top: -168px;
    left: -388px;
  }

  .preview__title span {
    gap: 19px;
  }

  .preview__title span img {
    width: 78px;
    margin: 5px 0 0;
  }

  .preview__description {
    max-width: 450px;
    margin: 0 0 32px;
    font-size: 14px;
    line-height: 1.42;
  }
}

@media (max-width: 620px) {
  .preview {
    padding: 128px 0 180px;
  }

  .preview::before {
    top: -269px;
    translate: -59% 0;
    width: 1541px;
    height: 1541px;
  }

  .preview::after {
    top: -651px;
    translate: 66% 0;
    width: 1312px;
    height: 1313px;
  }

  .preview__container::before {
    top: -56px;
    left: -276px;
    width: 566px;
    height: 549px;
  }

  .preview__title {
    margin: 0 0 15px;
  }

  .preview__title span {
    gap: 10px;
  }

  .preview__title span img {
    width: 58px;
    margin: 8px 0 0;
  }

  .preview__description {
    margin: 0 0 24px;
    font-size: 12px;
    line-height: 1.41;
  }
}

/*** *** whom-section *** ***/
.whom {
  padding: 40px 0;
  font-family: var(--font-primary);
  color: var(--light-color);
  background: var(--dark-color);
}

.whom__container {
  position: relative;
  z-index: 0;
}

.whom__title--h2 {
  margin: 0 0 39px;
}

.whom__title--h3 {
  margin: 0 0 12px;
}

.whom__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.whom__item {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  min-height: 240px;
  padding: 25px 24px 32px;
}

.whom__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -200;
  width: 100%;
  height: 100%;
  background: var(--light-color);
  border-radius: 20px;
  opacity: 0.15;
}

.whom__item-description {
  margin: 0 0 15px;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
}

.whom__item-text {
  max-width: 250px;
  margin: auto 0 0;
  font-size: 12px;
  line-height: 1.4;
  font-weight: 400;
}

.whom__item-image {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -100;
}

@media (max-width: 1024px) {
  .whom__list {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .whom__item {
    min-height: 194px;
  }

  .whom__item-description,
  .whom__item-text {
    max-width: 400px;
  }

  .whom__item:nth-child(3) .whom__item-description {
    max-width: 420px;
  }

  .whom__item-image {
    right: 8%;
    bottom: 50%;
    translate: 0 50%;
  }
}

@media (max-width: 620px) {
  .whom__title--h2 {
    margin: 0 0 27px;
  }

  .whom__title--h3 {
    margin: 0 0 16px;
  }

  .whom__item {
    min-height: 264px;
  }

  .whom__item-text {
    max-width: 200px;
  }

  .whom__item-image {
    right: 0;
    bottom: 0;
    translate: none;
  }
}

.about {
  padding: 120px 0 162px;
  background: var(--dark-color);
}

.about__title {
  margin: 0 0 40px;
}

.about__video {
  position: relative;
  width: 83%;
  margin: 0 auto;
  padding: 46.7% 0 0;
}

.about__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: none;
}

@media (max-width: 1024px) {
  .about {
    padding: 65px 0 104px;
  }

  .about__video {
    width: 100%;
    padding: 56.3% 0 0;
  }
}

@media (max-width: 620px) {
  .about {
    padding: 24px 0 67px;
  }

  .about__title {
    margin: 0 0 25px;
  }

  .about__video iframe {
    border-radius: 10px;
  }
}

.includes {
  padding: 49px 0 55px;
  font-family: var(--font-primary);
  color: var(--light-color);
  background: var(--accent-color-200);
}

.includes__wrapper {
  display: grid;
  grid-template-columns: 50.8% auto;
  align-items: end;
  margin: 0 0 31px;
}

.includes__title {
  margin: 0 0 24px;
}

.includes__main-text {
  max-width: 520px;
  padding: 0 20px 0 0;
}

.includes__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32.5px 20px;
  grid-column: 2/4;
  grid-row: 1/4;
  margin: 0;
  padding: 0;
  list-style: none;
}

.includes__list-number {
  margin: 0 0 3.8px;
  font-family: var(--font-secondary);
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 2px;
}

.includes__list-description {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .includes {
    padding: 47.8px 0 64px;
  }

  .includes__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .includes__wrapper {
    grid-template-columns: 1fr;
    margin: 0 0 57px;
  }

  .includes__title {
    margin: 0 0 25px;
  }

  .includes__main-text {
    max-width: 100%;
    padding: 0;
  }

  .includes__list {
    grid-template-columns: 47.4% 52.6%;
    grid-column: auto;
    grid-row: auto;
    margin: 33px 0 0;
  }
}

@media (max-width: 620px) {
  .includes {
    padding: 33px 0 49px;
  }

  .includes__wrapper {
    margin: 0 0 40px;
  }

  .includes__title {
    margin: 0 0 16px;
  }

  .includes__list-number {
    font-size: 40px;
  }

  .includes__list-description {
    font-size: 14px;
  }

  .includes__list {
    grid-template-columns: 46.7% 53.3%;
    margin: 24px 0 0;
    gap: 23.5px 20px;
  }
}

@media (max-width: 420px) {
  .includes__button {
    width: 100%;
    padding: 16px 24px;
  }
}
