.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 var(--container-padding-desktop);
}

@media(max-width: $tablet) {
  .container {
    padding: 0 var(--container-padding-tablet);
  }
}

@media(max-width: $mobile) {
  .container {
    padding: 0 var(--container-padding-mobile);
  }
}
