.includes {
  padding: 49px 0 55px;
  font-family: var(--font-primary);
  color: rgb(var(--light-color));
  background: rgb(var(--accent-color-200));
}

.includes__wrapper {
  display: grid;
  grid-template-columns: 50.8% auto;
  align-items: end;
  margin: 0 0 31px;
}

.includes__title {
  margin: 0 0 24px;
}

.includes__main-text {
  max-width: 520px;
  padding: 0 20px 0 0;
}

.includes__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32.5px 20px;
  grid-column: 2 / 4;
  grid-row: 1 / 4;
  margin: 0;
  padding: 0;
  list-style: none;
}

.includes__list-number {
  margin: 0 0 3.8px;
  font-family: var(--font-secondary);
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 2px;
}

.includes__list-description {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

@media(max-width: $tablet) {
  .includes {
    padding: 47.8px 0 64px;
  }

  .includes__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .includes__wrapper {
    grid-template-columns: 1fr;
    margin: 0 0 57px;
  }

  .includes__title {
    margin: 0 0 25px;
  }

  .includes__main-text {
    max-width: 100%;
    padding: 0;
  }

  .includes__list {
    grid-template-columns: 47.4% 52.6%;
    grid-column: auto;
    grid-row: auto;
    margin: 33px 0 0;
  }
}

@media(max-width: $mobile) {
  .includes {
    padding: 33px 0 49px;
  }

  .includes__wrapper {
    margin: 0 0 40px;
  }

  .includes__title {
    margin: 0 0 16px;
  }

  .includes__list-number {
    font-size: 40px;
  }

  .includes__list-description {
    font-size: 14px;
  }

  .includes__list {
    grid-template-columns: 46.7% 53.3%;
    margin: 24px 0 0;
    gap: 23.5px 20px;
  }
}

@media(max-width: 420px) {
  .includes__button {
    width: 100%;
    padding: 16px 24px;
  }
}
