.main-text {
  margin: 0;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.38;
  font-weight: 400;
  color: rgb(var(--light-color));
}

@media(max-width: $tablet) {
  .main-text {
    font-size: 14px;
    line-height: 1.42;
  }
}